.main-content .sidenav{
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: var(--background);
    transition: all 0.5s ease;
}
.main-content .navbar{
    justify-content: flex-end;
    padding: 0 3rem;
    background-color: white;
}
.main-content .main{
    width: 85%;
    height: 100%;
    right: 0;
    position: fixed;
    overflow-y: auto;
    background-color: white;
    transition: all 0.5s ease;
}
.main-content .logo-main{
    top: 10%;
    padding: 2rem;
}
.main-content .sidenav-links{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    margin-top: 2rem;
    font-size: 1.3rem;
}
.main-content .sidenav-menu{
    margin-left: 2rem;
    margin-top: 3rem;
}
.main-content .sidenav-links:hover {
    color: var(--primary);
    transition: all 0.2s ease-out;
    font-weight: 900;
    font-size: 1.5rem;
  }
.main-content .sidenav-menu i{
    font-size: 20px;
    margin-right: 1rem;
}
.main-content .dropdown {
    position: relative;
    display: inline-block;
  }
  
.main-content  .dropdown-content-active {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
.main-content .dropdown-content-active {
    display: block;
  }
.main-content .dropdown-content {
    display: none;
  }
.main-content .logout-button{
    text-decoration: none;
    color: #3e3f40;
}
.main-content .dropdown-btn{
    cursor: pointer;
}
.main-content .dropdown-btn:hover{
    color: black;
    background-color: white;
}
.main-content .main-profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.main-content .menu-icon-open{
    margin-right: auto;
    display: none; 
}
.main-content .open-icon{
    color: #000;
    cursor: pointer;
}
.main-content .close-icon{
    cursor: pointer;
}
.main-content .menu-icon-close{
    float: right;
    font-size: 20px;
    display: none;
    color: #fff;
}

.main-content .update-form{
    width: 70%;
    margin: 0 auto;
}
.main-content .update-form{
    width: 70%;
    margin: 0 auto;
}
.main-content .update-form img{
    width: 100px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    padding: 1rem 0;
    box-shadow: #bababa;
}
.main-content .page-content{
    width: 100%;
    padding: 3rem;
    position: absolute;
}
.main-content .update-form .left-section,.right-section{
    width: 50%;
    height: 100%;
    padding: 2rem;
    transition: all ease;
}
.main-content .update-form .left-section{
    transition: all 0.5s ease;
    float: left;
    border-right: 1px solid #bababa;
}
.main-content .update-form .section-title{
    color: #808080;
    padding: 1.5rem 0;
}
.main-content .update-form .right-section{
    float: right;
}
.main-content .update-form .submit-btn{
    margin-top: 3rem;
}
.main-content .right-section .contact-info, .authentication-info, .danger-zone{
    padding-bottom: 2rem;
    border-bottom: 1px solid #bababa;
}

.main-content .delete-account-container, .change-password-container, .change-email-container{
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    padding: 2rem;
}
.delete-account-container h1,h2,p{
    padding: 1rem 0;

}
.page-content i{
    font-size: 40px;
    padding: 1rem 0;
    display: flex;
}
.page-content .icon{
    text-align: center;
}
.delete-account-container i{
    color: red;
}
.change-password-container i, .change-email-container i{
    color: var(--primary);
    
}
.delete-account-container .btn-outline{
    border: 2px solid red;
    color: red;
}
.delete-account-container .btn-outline:hover{
    border: 2px solid red;
    transition: all 0.3s ease-out;
    background: red;
    color: #FFFFFF;
    font-weight: 900;
    transition: 250ms;
}
@media screen and (max-width: 1500px) {
    .split-screen .page{
        background-color: blue;
        width: 90%;
        padding: 2rem;
    }
}
@media screen and (max-width: 1300px) {
    .main-content .page-content{
        padding: 1.5rem;
    }
}
@media screen and (max-width: 1300px) {
    .main-content .logo-main{
        padding-left: 1.5rem;
    }  
    .main-content .sidenav-items{
        margin-left: 1.5rem;
    } 
    .main-content .delete-account-container, .change-password-container, .change-email-container{
        width: 60%;
        transition: all 0.5s ease;
    }
    .main-content .page-content{
        padding: 0;
        transition: all 0.5s ease;
    }
}
@media screen and (max-width: 1150px) {
    .main-content .logo-main{
        padding-left: 1rem;
    }  
    .main-content .sidenav-items{
        margin-left: 1rem;
    } 
    .main-content .update-form .left-section,.right-section{
        width: 100%;
    }
    .main-content .update-form .left-section{
        border-bottom: 1px solid #bababa;
        border-right: none;
    }
    .main-content .update-form .submit-btn{
        margin-top: 3rem;
    }
    .main-content .right-section .contact-info, .authentication-info, .danger-zone{
        padding-bottom: 2rem;
        border-bottom: 1px solid #bababa;
    }
    .main-content .page-content{
        padding: 0.8rem;
        transition: all 0.5s ease;
    }
    .main-content .update-form{
        width: 100%;
    }
    .main-content .delete-account-container, .change-password-container, .change-email-container{
        width: 70%;
        transition: all 0.5s ease;
    }
}
@media screen and (max-width: 1050px) {
    .main-content .sidenav{
        width: 0;
        transition: all 0.5s ease;
    }
    .main-content .main{
        width: 100%;
        transition: all 0.5s ease;
    }
    .main-content .menu-icon-open{
        display: block; 
    }
    .main-content .menu-icon-close{
        display: block;
    }
    .main-content .sidenav-open{
        width: 60%;
        height: 100%;
        position: fixed;
        background-color: black;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .main-content .sidenav-links{
        color: var(--background);
    }
    .main-content .close-icon{
        color: #fff;
    }
    .main-content .main-small{
        width: 100%;
        right: 0;
        position: fixed;
    }
    .main-content .page-content{
        padding: 0.5rem;
        transition: all 0.5s ease;
    }
    .main-content .delete-account-container, .change-password-container, .change-email-container{
        width: 80%;
        transition: all 0.5s ease;
    }
}
