:root{
  --primary: #FD7900;
  --primary-darker: #cc6302;
  --background: #FDFBF6; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: var(--background);
}
.btn {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: #FFFFFF;
  border: 1px solid var(--primary);
}
.btn-outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn-outline:hover{
  transition: all 0.3s ease-out;
  background: var(--primary);
  color: #FFFFFF;
  transition: 250ms;
}
.btn-primary:hover{
  background-color: var(--primary-darker);
  border: 1px solid var(--primary-darker);
}